/* yellow #f7e460 */
/* gray #a2a4a6 */
body {
  font-family: avenir, Verdana, Geneva, Tahoma, sans-serif;
}

.page__wrapper {
  background-color: #bfbfbf;
  max-width: 1240px;
  min-width: 360px;
  margin: 0 auto;
}

.fab,
.fas {
  font-size: 50px;
}

.fa-html5 {
  color: rgb(245, 167, 22);
}

.fa-css3-alt {
  color: rgb(29, 160, 212);
}

.fa-sass {
  color: rgb(224, 129, 185);
}

.fa-chart-line {
  color: purple;
}

.fa-universal-access {
  color: rgb(24, 71, 24);
}

.fa-js-square {
  color: rgb(219, 219, 15);
}

.fa-arrow-circle-left {
  color: rgb(24, 71, 24);
}

.fa-bootstrap {
  color: rgb(29, 160, 212);
}

.fa-node-js {
  color: rgb(122, 230, 122);
}

.fa-database {
  color: rgb(209, 209, 209);
}

.fa-vuejs {
  color: rgb(13, 241, 13);
}

.fa-github-square {
  color: black;
  margin-bottom: 20px;
}

header {
  max-width: 1440px;
  min-width: 320px;
  min-height: 200px;
  background-color: #bfbfbf;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
header .header__photo {
  width: 150px;
  height: 150px;
  margin: 30px 0px 0px 20px;
  border-radius: 50%;
  border: solid 2px rgb(247, 228, 96);
}
header .header__box {
  max-width: 550px;
  margin: 0 90px 25px 90px;
}

.header__title,
.header__separation,
.header__text {
  text-align: center;
}

h1 {
  color: white;
  font-size: 3em;
  margin: 20px 0 0 0;
}

.header__separation {
  height: 2px;
  border: 0;
  box-shadow: inset 0 6px 6px -6px white;
  background-color: rgb(24, 71, 24);
}

.header__text {
  color: white;
  font-size: 1em;
  font-weight: bold;
}

.header-icon {
  margin: 40px 40px 30px 30px;
}
.header-icon p {
  margin: 0;
  line-height: 16px;
}

.header__text-rqth {
  color: white;
  margin-top: 20px;
}

.separation__box {
  width: 99%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}
.separation__box .small__part {
  width: 60px;
  height: 40px;
  background-color: #f2f2f2;
  box-shadow: 5px 5px 5px #a6a6a6;
  align-self: flex-end;
}
.separation__box .left__container {
  display: flex;
  width: 50%;
  min-width: 350px;
}
.separation__box .name__box {
  min-width: 200px;
  height: 55px;
  border-radius: 15px 15px 0 0;
  background-color: #f2f2f2;
  box-shadow: 5px 5px 5px #a6a6a6;
}
.separation__box .left__part {
  width: 100%;
  height: 40px;
  background-color: #f2f2f2;
  box-shadow: 5px 5px 5px #a6a6a6;
  align-self: flex-end;
}
.separation__box .right__container {
  width: 50%;
  min-width: 350px;
  align-self: flex-end;
}

.title__box {
  width: 100%;
  height: 40px;
  background-color: #f2f2f2;
  box-shadow: 5px 5px 5px #a6a6a6;
  text-align: right;
}
.title__box .title__font {
  font-size: 22px;
  font-weight: bold;
  position: relative;
  margin: 0 auto;
  padding: 5px 15px 0 0;
}

.name__font {
  font-size: 30px;
  color: rgb(3, 3, 58);
  text-align: center;
  position: relative;
  padding: 0 0 0 6px;
  bottom: 25px;
}

.separation {
  width: 100%;
  height: 40px;
  position: relative;
  bottom: 35px;
  background-color: #f2f2f2;
  box-shadow: 0px 5px 5px #a6a6a6;
}
.separation .section__title {
  text-align: right;
  margin: 0;
  padding: 5px 15px;
}

/* article style */
.article__box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
  text-align: center;
}
.article__box .article__card {
  width: 32%;
  min-width: 340px;
  min-height: 450px;
  margin: 5px auto;
  background-color: white;
  box-shadow: 5px 5px 5px #a6a6a6;
}
.article__box .article__card .list__title {
  padding: 20px;
  font-weight: bold;
  font-size: 20px;
}
.article__box .article__card .list__title .list__item {
  list-style-type: "-";
  font-weight: lighter;
  text-align: start;
}
.article__box .article__card .list__title .list__item .list__p {
  margin: 20px;
  font-size: 16px;
}

.section__central {
  background-color: #bfbfbf;
}

.car__box-wrapper {
  position: relative;
  width: 100%;
  z-index: 1;
}

.card__title-box {
  min-width: 340px;
  max-width: 98%;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  background-color: white;
  box-shadow: 5px 5px 5px #a6a6a6;
}
.card__title-box .behind__title {
  font-size: 16px;
  padding: 10px 0 0 100px;
}

.behind__card {
  position: absolute;
  margin: 0 auto;
  width: 90%;
  left: 10px;
  right: 10px;
  height: 160px;
  background-color: white;
  box-shadow: 5px 5px 5px #a6a6a6;
  z-index: 1;
}

.opLogo {
  width: 50px;
  height: 50px;
  margin: 15px;
  align-self: flex-end;
}

.central__box {
  margin: 0;
}

.card__box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.card__box .card {
  width: 170px;
  margin: 10px;
  background-color: #a6a6a6;
  box-shadow: 5px -5px 5px #bfbfbf;
  text-align: center;
  z-index: 2;
}

.nav__box {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}

.box__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.split__box {
  min-width: 310px;
  width: 49%;
  box-shadow: 5px 5px 5px #a6a6a6;
  background-color: white;
  margin: 0 auto;
  text-align: center;
}

.split__separation {
  min-height: 50px;
  background-color: #f2f2f2;
  box-shadow: 5px 5px 5px #a6a6a6;
  position: relative;
  bottom: 50px;
  z-index: 3;
}

.list__split {
  list-style: none;
  padding: 0;
}

.list__box {
  margin: 0 10px 40px 10px;
  padding: 0;
}

footer {
  min-height: 200px;
}

.footer__wrapper {
  display: block;
  margin-top: 40px;
  text-align: center;
}

.footer__box {
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}

.footer__text {
  margin: 10px;
  font-size: 18px;
  font-weight: bold;
  color: white;
}

.footer__separation {
  width: 80%;
  height: 2px;
  border: 0;
  box-shadow: inset 0 6px 6px -6px white;
  background-color: rgb(247, 228, 96);
}

.fa-mobile-alt,
.fa-envelope,
.fa-home {
  font-size: 18px;
}

.fa-linkedin {
  color: rgb(55, 55, 190);
  margin-right: 20px;
  margin-bottom: 20px;
}

.fa-youtube-square {
  color: rgb(148, 11, 11);
  margin-left: 20px;
  margin-bottom: 20px;
}

.fa-globe {
  color: black;
}

.fa-mobile-alt,
.fa-envelope,
.fa-home {
  color: black;
}

.spinloader {
  height: 100%;
  min-width: 360px;
  max-width: 1240px;
  /* min-height: 600px; */
  background: #f2f2f2;
  position: absolute;
  z-index: 1000;
  animation: load 3s;
  animation-fill-mode: forwards;
}

@keyframes load {
  0% {
    height: 100%;
    width: 100%;
    opacity: 100%;
  }
  30% {
    width: 100%;
    height: 100%;
    opacity: 100%;
  }
  95% {
    height: 100%;
    width: 100%;
    opacity: 80%;
  }
  98% {
    height: 100%;
    width: 100%;
    opacity: 10%;
  }
  100% {
    width: 0%;
    height: 0%;
    opacity: 0%;
  }
}
/* Integrating and modifying loading spinner from : https://tobiasahlin.com/spinkit/ */
.sk-folding-cube {
  margin: 20px auto;
  width: 120px;
  height: 120px;
  position: relative;
  top: 300px;
  transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  transform: scale(1.1);
}

.sk-folding-cube .sk-cube:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(24, 71, 24);
  animation: sk-foldCubeAngle 3s infinite linear both;
  transform-origin: 100% 100%;
}

.sk-folding-cube .sk-cube2 {
  transform: scale(1.1) rotateZ(90deg);
}

.sk-folding-cube .sk-cube3 {
  transform: scale(1.1) rotateZ(180deg);
}

.sk-folding-cube .sk-cube4 {
  transform: scale(1.1) rotateZ(270deg);
}

.sk-folding-cube .sk-cube2:before {
  animation-delay: 0.2s;
}

.sk-folding-cube .sk-cube3:before {
  animation-delay: 0.4s;
}

.sk-folding-cube .sk-cube4:before {
  animation-delay: 0.6s;
}

@keyframes sk-foldCubeAngle {
  0%, 10% {
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }
  25%, 75% {
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }
  90%, 100% {
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}
.header-icon-anime:hover {
  transform: rotateZ(360deg);
  transition-duration: 400ms;
  opacity: 0.2;
}

.nav__box-anime:hover {
  transform: scale(1.5);
  transition-duration: 400ms;
  opacity: 0.8;
}/*# sourceMappingURL=styles.css.map */