.section__central {
  background-color: $primary;
}

.car__box-wrapper {
  position: relative;
  width: 100%;
  z-index: 1;
}

.card__title-box {
  min-width: 340px;
  max-width: 98%;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  background-color: $secondary;
  box-shadow: 5px 5px 5px $primaryDark;
  & .behind__title {
    font-size: 16px;
    padding: 10px 0 0 100px;
  }
}

.behind__card {
  position: absolute;
  margin: 0 auto;
  width: 90%;
  left: 10px;
  right: 10px;
  height: 160px;
  background-color: $secondary;
  box-shadow: 5px 5px 5px $primaryDark;
  z-index: 1;
}

.opLogo {
  width: 50px;
  height: 50px;
  margin: 15px;
  align-self: flex-end;
}

.central__box {
  margin: 0;
}
.card__box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  & .card {
    width: 170px;
    margin: 10px;
    background-color: $primaryDark;
    box-shadow: 5px -5px 5px $primary;
    text-align: center;
    z-index: 2;
  }
}
.nav__box {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}
