body {
  font-family: avenir, Verdana, Geneva, Tahoma, sans-serif;
  max-width: 1240px;
  min-width: 360px;
  margin: 0 auto;
}
.page__wrapper {
  background-color: $primary;
  
  
}

.fab,
.fas {
  font-size: 50px;
}

// icons
.fa-html5 {
  color: $html5;
}
.fa-css3-alt {
  color: $css3;
}
.fa-sass {
  color: $sass;
}
.fa-chart-line {
  color: $seo;
}
.fa-universal-access {
  color: $green;
}
.fa-js-square {
  color: $js;
}
.fa-arrow-circle-left{
  color: $green;
}
.fa-bootstrap {
  color: $bootstrap;
}
.fa-node-js {
  color: $node;
}
.fa-database {
  color: $bdd;
}
.fa-vuejs {
  color: $vue;
}
.fa-github-square {
  color: $black;
  margin-bottom: 20px;
}
