body {
  font-family: avenir, Verdana, Geneva, Tahoma, sans-serif;
}
.page__wrapper {
  background-color: $primary;
  max-width: 1240px;
  min-width: 360px;
  margin: 0 auto;
}

.fab,
.fas {
  font-size: 50px;
}
