.box__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.split__box {
  min-width: 310px;
  width: 49%;
  box-shadow: 5px 5px 5px $primaryDark;
  background-color: $secondary;
  margin: 0 auto;
  text-align: center;
}
.split__separation {
  min-height: 50px;
  background-color: $primaryLight;
  box-shadow: 5px 5px 5px $primaryDark;
  position: relative;
  bottom: 50px;
  z-index: 3;
}
.list__split {
  list-style: none;
  padding: 0;
}
.list__box {
  margin: 0 10px 40px 10px;
  padding: 0;
}
