$primary: #bfbfbf;
$primaryDark: #a6a6a6;
$primaryLight: #f2f2f2;
$secondary: white;
$tertiaire: rgba(247, 228, 96, 255);
$blue: rgb(3, 3, 58);
$black: black;

$html5: rgb(245, 167, 22);
$css3: rgb(29, 160, 212);
$sass: rgb(224, 129, 185);
$seo: purple;
$wcag: rgb(55, 55, 190);
$js: rgb(219, 219, 15);
$bootstrap: rgb(29, 160, 212);
$node: rgb(122, 230, 122);
$bdd: rgb(209, 209, 209);
$vue: rgb(13, 241, 13);

$youTube: rgb(148, 11, 11);
$linkedin: rgb(55, 55, 190);
/* yellow #f7e460 */
/* gray #a2a4a6 */
